#PopupToolbar span {
    width: 120px;
    margin-bottom: 4px;
    display: inline-block;
}
input.popupButtons {
    width: 24px;
    margin: 1px;
}
input.popupButtons:enabled {
    filter: invert(0);
}
input.popupButtons:disabled {
    filter: invert(0.8);
}

input.activePopupButton {
    background-color:rgb(162, 215, 255);
}

#PopupToolbar span, label.popupLabel, label.relatedLabel {
    font-weight: 600;
}

label.relatedLabel, select.relatedSelect, input.relatedButton {
    height: 25px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.popupLabel {
    display: inline-block;
    vertical-align: top;
    width: 110px;
    height: 100%;
}

.popupTextarea {
    width: 145px;
    background-color: rgb(253, 253, 253);
    border-radius: 4px;
    height: auto;
    max-height: 50px;
    overflow-y: scroll;
    resize: none;
    /* width: 145px;
    background-color: rgb(253, 253, 253);
    border-radius: 4px; */

}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
textarea::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.popupTextarea:read-only {
    border: none;
}
.popupTextarea:-moz-read-only {
    border: none;
}

.relatedLabel {
    padding: 0px;
    width: 95px;
    display: block;
    float: left;
    clear: left;
}
.relatedSelect {
    width: 130px;
    padding: 2px;
    background-color: rgb(253, 253, 253);
    border-radius: 4px;
}
.relatedButton {
    margin: 1px;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(162, 215, 255);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

.leaflet-popup-content-wrapper {
    z-index: 1000;
    background-color:rgb(236, 244, 250);
    overflow-y: scroll;
    max-height: 400px;
}

